/* font add*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common style */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* blog section style */
.container {
    width: 1100px;
    height: 500px;
    background-color: #161616;
    border-radius: 7px;
    margin: 100px auto;
    transform: scale(1.2);
}

.container-title {
    color: #FFFFFF;
    width: 500px;
    font-size: 50px;
    font-weight: 700;
    padding: 0 50px;
}

.blog-info {
    display: flex;
    /* align-items: center; */
}

.blog-info p {
    color: #FFFFFF;
    font-size: 15px;
    padding: 0 50px;
}

.banner-img {
    width: 100%;
    padding: 35px 5px;
    margin-top: 20px;
    transform: scale(1.2);
}

.btns {
    margin: 25px 44px;
}

.btn {
    background-color: #DD0000;
    width: 150px;
    padding: 10px 10px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    margin: 5px;
}

/* blog-section style */
.main-container {
    width: 1000px;
    height: 1000px;

}

.menu-blog {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 5px;
}

.menu-bar {
    width: 267px;
    height: 267px;
    background-color: #161616;
    color: #161616;
    font-size: 20px;
    padding: 6px 27px;
    border-radius: 10px;
    font-weight: 500;
    margin-left: 100px;
    margin-right: -70px;
    margin-top: 55px;
    text-align: center;
    transform: scale(0.9);
}

.menu {
    width: 212px;
    background-color: #FFFFFF;
    padding: 10px 10px;
    margin: 30px 0px;
    border-radius: 10px;
}

#blog-menu {
    background-color: #DD0000;
    color: #FFFFFF;
}

.blog-title {
    width: 100px;
    height: 20px;
    text-align: center;
    border: 1px solid #161616;
    border-radius: 7px;
    padding: 5px 10px;
    margin: 10px 10px;
}

.blog-write {
    font-size: 18px;
    font-weight: 600;
    padding: 5px 10px;
}

.players {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    transform: scale(0.8);
    margin-top: -35px;
}

.player {
    margin: 10px 5px;
    background-color: #e8e8e862;
}

.fa-regular {
    margin: 5px;
}

/* footer style */
.footer-info {
    background-color: #161616;
    width: 100%;
    height: 500px;
}

.footer-title {
    height: 100%;
    color: #FFFFFF;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;


}

.under-line {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 900px;
}

.about-info {
    color: #B9B9B9;
    height: 24px;
    font-size: 16px;
    margin: 100px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 20px;
    font-size: 25px;
}